h1
{
    color:blue

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 10;
 
}


h1 {
    
    text-align: center;
}
div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  }
  
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }
